@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-no1 {
  text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2,
    1px -1px 0 #4a90e2;
}

.text-shadow-no2 {
  text-shadow: 1px 1px 0 #e14f50, -1px 1px 0 #e14f50, -1px -1px 0 #e14f50,
    1px -1px 0 #e14f50;
}

.text-shadow-no3 {
  text-shadow: 1px 1px 0 #28b99a, -1px 1px 0 #28b99a, -1px -1px 0 #28b99a,
    1px -1px 0 #28b99a;
}

.text-shadow-no4 {
  text-shadow: 1px 1px 0 #73737a, -1px 1px 0 #73737a, -1px -1px 0 #73737a,
    1px -1px 0 #73737a;
}

.slick-next::before,
.slick-prev::before {
  font-size: 38px !important;
}

.slick-next {
  right: -15px !important;
}

.slick-prev {
  left: -15px !important;
}
